<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.misitiomusical"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.misitiomusical.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.misitiomusical.reproducirm" >
        </activity>
        <activity android:name="com.example.misitiomusical.reg1" >
        </activity>
        <activity android:name="com.example.misitiomusical.regmanager" >
        </activity>
        <activity android:name="com.example.misitiomusical.regfinal" >
        </activity>
        <activity
            android:name="com.example.misitiomusical.MenuManagerActivity"
            android:label="@string/title_activity_menu_manager"
            android:parentActivityName="com.example.misitiomusical.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.misitiomusical.MainActivity" />
        </activity>
        <activity
            android:name="com.example.misitiomusical.GestionarCanciones"
            android:label="@string/title_activity_gestionar_canciones" >
        </activity>
        <activity
            android:name="com.example.misitiomusical.AgregarCancionActivity"
            android:label="@string/title_activity_agregar_cancion"
            android:parentActivityName="com.example.misitiomusical.GestionarCanciones" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.misitiomusical.GestionarCanciones" />
        </activity>
        <activity
            android:name="com.example.misitiomusical.BusquedaAvanzadaActivity"
            android:label="@string/title_activity_busqueda_avanzada"
            android:parentActivityName="com.example.misitiomusical.GestionarCanciones" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.misitiomusical.GestionarCanciones" />
        </activity>
        <activity android:name="com.example.misitiomusical.ContraOlvidada" >
        </activity>
        <activity android:name="com.example.misitiomusical.reproductorAudio" >
        </activity>

        <activity
            android:name="com.example.misitiomusical.GestionarConciertos"
            android:label="@string/title_activity_gestionar_conciertos" >
        </activity>
        <activity
            android:name="com.example.misitiomusical.ConciertoActivity"
            android:label="@string/title_activity_concierto"
            android:parentActivityName="com.example.misitiomusical.GestionarConciertos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.misitiomusical.GestionarConciertos" />
        </activity>
        <activity android:name="MensajeDeConfirmacion"></activity>
        <activity android:name="MensajeDeConfirmacion2"></activity>
        <activity android:name="RecuperaCuenta"></activity>
    </application>

</manifest>
